@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-red: hsl(1, 90%, 64%);
$primary-blue: hsl(219, 85%, 26%);
$white: hsl(0, 0%, 100%);
$very-light-grayish-blue: hsl(210, 60%, 98%);
$light-grayish-blue-1: hsl(211, 68%, 94%);
$light-grayish-blue-2: hsl(205, 33%, 90%);
$grayish-blue: hsl(219, 14%, 63%);
$dark-grayish-blue: hsl(219, 12%, 42%);
$very-dark-blue: hsl(224, 21%, 14%);

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: $very-light-grayish-blue;
  display: flex;
  justify-content: center;
}

main {
  margin: 5rem 0;
  padding: 2rem;
  max-width: 50rem;
}

.container {
  background-color: $white;
  padding: 2rem;
  border-radius: 10px;
}

.top {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 1.2rem;
    font-weight: 700;
  }

  span {
    background-color: $very-dark-blue;
    color: $white;
    padding: 0 .5rem;
    border-radius: 5px;
    margin-left: 3px;
  }

  button {
    font-weight: 500;
  }
}

.post,
.comment {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  background-color: $very-light-grayish-blue;
  border-radius: 5px;
}

.comment {
  margin-bottom: 3rem;
  padding: 1rem 1.4rem;
}

.comment:hover {
  background-color: $light-grayish-blue-1;
}

.post {
  gap: 1rem;
}

.time {
  color: $grayish-blue;
}

button {
  border: none;
  background-color: inherit;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
}

.user {
  margin-right: 4px;
}

.activity {
  margin-left: 4px;
}

.user-avatar {
  width: 3rem;

  
}
#picture{
  margin-left: auto;
}

.user-avatar img {
  width: 100%;
}

.comment {
  border: solid 1px $light-grayish-blue-2;
  background-color: inherit;
  margin-left: 5rem;
}

.attribution {
  margin-top: 8rem;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
