@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
@import  "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: $very-light-grayish-blue;
  display: flex;
  justify-content: center;
}

main {
  margin: 5rem 0;
  padding: 2rem;
  max-width: 52rem;
}

.container {
  background-color: $white;
  padding: 2rem;
  border-radius: 10px;
}

.top {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 1.2rem;
    font-weight: 700;
  }

  span {
    background-color: $very-dark-blue;
    color: $white;
    padding: 0 0.5rem;
    border-radius: 5px;
    margin-left: 3px;
  }

  button {
    font-weight: 500;
    &:hover {
      color: $primary-blue;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;

  span {
    font-size: 5rem;
    line-height: 1px;
  }
}

.red-dot {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.2rem 0 0 0.3rem;
}

.post,
.comment {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  background-color: $very-light-grayish-blue;
  border-radius: 5px;
}

#hidden {
  display: none;
}
.comment {
  background-color: inherit;
  margin-left: 5rem;
  border: solid 1px $light-grayish-blue-2;
  margin-bottom: 3rem;
  padding: 1rem 1.4rem;
  &:hover {
    background-color: $light-grayish-blue-1;
    cursor: pointer;
  }
}

.post {
  gap: 1rem;
  cursor: pointer;
}

.time {
  color: $grayish-blue;
}

button {
  border: none;
  background-color: inherit;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    color: $primary-blue;
  }
}

.user {
  margin-right: 4px;
}

.activity {
  margin-left: 4px;
}

.user-avatar {
  width: 3rem;
}

#picture {
  margin-left: auto;
}

.user-avatar img {
  width: 100%;
}

#nathan {
  width: 3rem;
}

.readed {
  background-color: inherit;
}

.attribution {
  margin-top: 8rem;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
